[workspace]
resolver = "2"
members = [
    "contracts/token",
    "contracts/vesting",
]

[profile.release]
opt-level = "z"
overflow-checks = true
debug = 0
strip = "symbols"
panic = "abort"
codegen-units = 1
lto = true
